<header>
    <div class="content">
        <div class="small">
            <div id="product" class="caps open_navigation">
                PRODUCTS     
            </div>
            <div id="cart" class="caps open_cart">
                <a href="/cart" class="white_font">CART [{{cart.item_count }}]</a>
            </div>
        </div>
    </div>
</header>
